{% extends "base.html" %}
{% block title %}Пароль изменён{% endblock %}

{% block content %}
<main class="container">
    <div class="form-page">
        <div class="form-card">
            <h2 class="form-title">Пароль изменён</h2>

            <p class="text-muted mb-4">
                Пароль успешно обновлён. Теперь вы можете войти на сайт.
            </p>

            <a href="{% url 'users:login' %}" class="btn btn-secondary w-100">
                Войти
            </a>
        </div>
    </div>
</main>
{% endblock %}
