SECRET_KEY=mysecretkey

DEBUG=True/False

DATABASE_NAME=mydatabase
DATABASE_USER=mydatabaseuser
DATABASE_PASSWORD=mypassword
DATABASE_HOST=myhost
DATABASE_PORT=myport


EMAIL_HOST_USER=myemail
EMAIL_HOST_PASSWORD=myhostpassword

CACHE_ENABLED=1
REDIS_URL=redis://127.0.0.1:6379/1
CACHE_TTL_INDEX=60
CACHE_TTL_STATS=60