{% extends "base.html" %}

{% block title %}Создание письма{% endblock %}
{% block content %}
<main class="container">
    <div class="form-page">
        <div class="form-card">
            <h2 class="form-title">Добавление получателя</h2>

            <form method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}

                {{ form.as_p }}

                <div class="form-actions">
                    <button type="submit" class="btn btn-secondary w-100">
                        сохранить получателя
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}
